<div class="d-flex">
  <!-- Sidebar-->
  <app-sidebar></app-sidebar>
  <!--End Sidebar-->

  <div class="container">
    <div class="row p-3">
      <div class="col">
        <h5>Buscar:</h5>
        <input type="text" class="form-control" placeholder="Buscar gifs...">
      </div>
    </div>
      <hr />
      <div class="r">
        <div class="col">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo quaerat ullam nobis, debitis voluptatibus maxime aliquid ipsum fuga. Voluptate, distinctio est magni doloremque minima voluptatibus quia culpa hic deleniti numquam.
        </div>
      </div>
  </div>  
</div>